* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", monospace;
  background: linear-gradient(to right, #1e1e2f, #2c2c3e);
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 20px 40px;
  background-color: #13131f;
  border-bottom: 1px solid #444;
  gap: 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffcc70;
}

.profile-icon {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 50%;
}

.container {
  flex: 1;
  display: flex;
}

.sidebar {
  width: 360px;
  background-color: #1b1b2f;
  padding: 30px 20px;
  border-right: 1px solid #444;
}

.sidebar h3 {
  font-size: 1.9rem;
  margin-bottom: 10px;
  color: #ffcc70;
}

.sidebar ul {
  list-style: none;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.sidebar ul :hover {
  background-color: #928ed7;
}

.sidebar li {
  font-size: 10px;
  margin: 8px 0;
  padding-left: 10px;
  color: #ccc;
  font-size: 1.5rem;
}

.main {
  flex-grow: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.search-bar {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.search-bar input {
  flex-grow: 1;
  padding: 12px;
  font-size: 14px;
  background: #282c34;
  border: 2px solid #fff;
  color: white;
  border-radius: 20px;
  width: 700px;
}
.search-button {
  padding: 12px 30px;
  font-size: 14px;
  background-color: #6c63ff;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.poster-scroll {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  gap: 20px;
  padding: 20px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 100%;
}
.poster-scroll::-webkit-scrollbar {
  display: none;
}
.poster {
  flex: 0 0 auto;
  width: 220px;
  height: 320px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid white;
}

.bottom-button {
  display: flex;
  justify-content: center;
}

.group-button {
  width: 1000px;
  font-size: 15px;
  padding: 12px 24px;
  color: white;
  background-color: #075c7e;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease;
  margin-top: 40px;
}

.group-button:hover {
  background-color: #ff8787;
}
