* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", monospace;
  background: linear-gradient(to right, #1e1e2f, #2c2c3e);
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  padding: 20px 40px;
  background-color: #13131f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #444;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffcc70;
}

.profile-icon {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 50%;
}

.container {
  flex: 1;
  display: flex;
}

.sidebar {
  width: 240px;
  background-color: #1b1b2f;
  padding: 30px 20px;
  border-right: 1px solid #444;
}

.sidebar h1 {
  font-size: 1.9rem;
  margin-bottom: 10px;
  color: #ffcc70;
}

.sidebar ul {
  list-style: none;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.sidebar ul :hover {
  background-color: #928ed7;
  border-radius: 40%;
}

.sidebar li {
  font-size: 10px;
  margin: 8px 0;
  padding-left: 10px;
  color: #ccc;
  font-size: 1.5rem;
}

.main-content {
  flex-grow: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-bar input {
  flex-grow: 1;
  padding: 10px;
  font-family: "Press Start 2P", monospace;
  font-size: 10px;
  background: #282c34;
  border: 2px solid #fff;
  color: white;
  border-radius: 10px;
}

.search-button {
  padding: 10px 16px;
  font-size: 10px;
  background-color: #6c63ff;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.poster-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

.poster {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 14px;
  border: 2px solid white;
}

.bottom-button {
  display: flex;
  justify-content: center;
}

.group-button {
  font-size: 10px;
  padding: 12px 24px;
  color: white;
  background-color: #ff6b6b;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease;
}

.group-button:hover {
  background-color: #ff8787;
}
